.menu-bar {

  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  
}

.item {
  color: rgb(0, 0, 0);
  background-color: transparent;
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;

  color: rgb(1, 3, 114);
}

.item.title {
  font-weight: 1000;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  transition: transform 0.3s;
}

a:hover {
  transform: scale(1.07);
}

body {
  min-height: 150vh;
  background-image: url("img/261F52F1-CA76-4AE1-ACE6-1A1D9C752130\ \(3\).jpeg");
  background-size: cover;
  background-position: center;

}

img {
  display: block;
  margin: auto;
  width: 25%;
  border: 5px;
}

p {
  position: absolute;
  top: 8%;
  left: 18%;
  font-size: 45px;
  color: rgb(1, 3, 114);
}

h1 {
  position: absolute;
  top: 8%;
  left: 10%;
  font-size: 45px;
  color: rgb(1, 3, 114);

}
td {
  /* position: absolute; */
  top: 8%;
  left: 10%;
  font-size: 45px;
  color: rgb(1, 3, 114);

}
ol {
  /* position: absolute; */
  top: 20%;
  left: 10%;
  font-size: 30px;
  color: rgb(1, 3, 114);

}
 
.img1{
  position:sticky;
  top: 20%;
  left: 5%;
}

td {
  text-align: center;
}
h2 {
  position: absolute;
  top: 8%;
  left: 10%;
  font-size: 45px;
  color: rgb(1, 3, 114);
}